---
import { Seo } from "astro-seo-meta";
import { Schema } from "astro-seo-schema";
import Header from "../../components/common/Header.vue";
import Footer from "../../components/common/Footer.astro";
import Prose from "../../components/services/Prose.astro";
import { Image } from "astro:assets";
import Logo from "../../assets/logo150.webp";
import LogoFooter from "../../assets/logo-26.quatre.webp";
import { fetchServices } from "../../stores/servicesStore.js";

interface Service {
  title: string;
  longTitle: string;
  slug: string;
  shortDescription: string;
  pageDescriptive: {
    introduction: {
      html: String;
    };
    corps: {
      html: String;
    };
    conclusion: {
      html: String;
    };
  };
  image: {
    url: string;
  };
  seo: {
    title: string;
    description: string;
    keywords: [string];
  };
  seoJsonLd: {
    description: string;
    aeraServed: [string];
    location: string;
    name: string;
    offersDescription: string;
    serviceType: string;
  };
}
const services: Service[] = await fetchServices();

export async function getStaticPaths() {
  const services: Service[] = await fetchServices().then((res) => res.services);
  return services.map(
    ({
      slug,
      title,
      longTitle,
      shortDescription,
      pageDescriptive,
      image,
      seo,
      seoJsonLd,
    }) => {
      return {
        params: { slug },
        props: {
          title,
          longTitle,
          shortDescription,
          pageDescriptive,
          image,
          seo,
          seoJsonLd,
        },
      };
    },
  );
}

const {
  title,
  longTitle,
  shortDescription,
  pageDescriptive,
  image,
  seo,
  seoJsonLd,
} = Astro.props;
const { slug } = Astro.params;
const dynamicImport = async (slug: String) => {
  if (slug) {
    return import(`../../assets/services/${slug}.webp`);
  } else {
    return null;
  }
};
---

<html lang="fr">
  <head>
    <title>{longTitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Tags SEO -->
    <Seo
      title={seo ? seo.title : ""}
      description={seo ? seo.description : ""}
      keywords={seo ? seo.keywords : []}
    />
    <!-- Json LD -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Service",
        name: seoJsonLd ? seoJsonLd.name : "",
        description: seoJsonLd ? seoJsonLd.description : "",
        provider: {
          "@type": "Organization",
          name: seoJsonLd ? seoJsonLd.name : "",
          location: seoJsonLd ? seoJsonLd.location : "",
        },
        areaServed: seoJsonLd ? seoJsonLd.aeraServed : [],
        serviceType: seoJsonLd ? seoJsonLd.serviceType : "",
        offers: {
          "@type": "Offer",
          description: seoJsonLd ? seoJsonLd.offersDescription : "",
        },
      }}
    />
  </head>
  <body itemscope itemtype="https://schema.org/Service">
    <div
      class="bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 min-h-screen"
    >
      <Header client:load logo={Logo} />
      <div class="bg-white min-h-screen">
        <!-- Image principale -->
        <div
          class="w-full md:h-[80vh]"
          itemprop="image"
          itemscope
          itemtype="https://schema.org/ImageObject"
        >
          <Image
            src={(await dynamicImport(slug)).default}
            alt="image principale du service"
            class="w-full h-[30vh] md:h-[80vh] object-cover"
            widths={[320, 480, 768, 1200]}
            sizes="(max-width: 768px) 100vw, 1200px"
            decoding="async"
            loading="eager"
            format="webp"
            data-aos="zoom-in"
            data-aos-duration="1000"
          />
        </div>
        <div
          class="max-w-7xl mx-auto bg-white py-12 px-12 lg:px-24 md:-mt-32 relative z-10 xl:rounded-md shadow-md"
        >
          <!-- Titre pour SEO -->
          <h1
            class="font-display text-center text-2xl md:text-3xl text-gray-900 mt-4"
            itemprop="name"
          >
            {longTitle}
          </h1>
          <!-- Description du service -->
          <Prose
            desc={pageDescriptive ? pageDescriptive : "<div>No data</div>"}
            itemprop="description"
          />
        </div>
      </div>
      <Footer services={services}>
        <Image
          src={LogoFooter}
          alt="Logo"
          widths={[320, 480, 768, 1200]}
          sizes="(max-width: 768px) 100vw, 1200px"
          decoding="async"
          loading="lazy"
          format="webp"
        />
      </Footer>
    </div>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
  </body>
</html>
