---
import { Schema } from "astro-seo-schema";
import Header from "../../components/common/Header.vue";
import Footer from "../../components/common/Footer.astro";
import Prose from "../../components/services/Prose.astro";
import { Image } from "astro:assets";
import Logo from "../../assets/logo150.webp";
import LogoFooter from "../../assets/logo-26.quatre.webp";
import { fetchServices } from "../../stores/servicesStore.js";

interface Service {
  title: string;
  longTitle: string;
  slug: string;
  pageDescriptive: {
    introduction: {
      html: String;
    };
    corps: {
      html: String;
    };
    conclusion: {
      html: String;
    };
  };
  image: {
    url: string;
  };
}
const services: Service[] = await fetchServices();

export async function getStaticPaths() {
  const services: Service[] = await fetchServices().then((res) => res.services);
  return services.map(({ slug, title, longTitle, pageDescriptive, image }) => {
    return {
      params: { slug },
      props: { title, longTitle, pageDescriptive, image },
    };
  });
}

const { title, longTitle, pageDescriptive, image } = Astro.props;
const { slug } = Astro.params;
const dynamicImport = async (slug: String) => {
  if (slug) {
    return import(`../../assets/services/${slug}.webp`);
  } else {
    return null;
  }
};
---

<html lang="fr">
  <head>
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Service",
        name: "Data Analysis and Decision Optimization",
        provider: {
          "@type": "Organization",
          name: "26quatre",
          location: "Bayonne, Biarritz, Anglet, South-West France",
        },
        description:
          "Expert data analysis services to transform raw data into valuable insights for business decision-making. Specializing in customer behavior analysis, market strategy development, and enhancing customer experiences.",
        areaServed: ["Biarritz", "Bayonne", "Anglet"],
        serviceType: "Data Analysis",
        offers: {
          "@type": "Offer",
          description:
            "Comprehensive data analysis for informed business decisions, tailored to local businesses and startups in South-West France.",
        },
      }}
    />
  </head>
  <body>
    <div
      class="bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 min-h-screen"
    >
      <Header client:load logo={Logo} />
      <body>
        <div class="bg-white min-h-screen">
          <!-- image picture -->
          <div class="w-full md:h-[80vh]">
            <Image
              src={(await dynamicImport(slug)).default}
              alt="image"
              class="w-full h-[30vh] md:h-[80vh] object-cover"
              widths={[320, 480, 768, 1200]}
              sizes="(max-width: 768px) 100vw, 1200px"
              decoding="async"
              loading="eager"
              format="webp"
              data-aos="zoom-in"
              data-aos-duration="1000"
            />
          </div>
          <div
            class="max-w-7xl mx-auto bg-white py-12 px-12 lg:px-24 md:-mt-32 relative z-10 xl:rounded-md shadow-md"
          >
            <h1
              class="font-display text-center text-2xl md:text-3xl text-gray-900 mt-4"
              data-aos="zoom-out"
              data-aos-duration="1000"
            >
              {longTitle}
            </h1>
            <Prose
              desc={pageDescriptive ? pageDescriptive : "<div>No data</div>"}
            />
          </div>
        </div>
      </body>
      <Footer services={services}>
        <Image
          src={LogoFooter}
          alt="Logo"
          widths={[320, 480, 768, 1200]}
          sizes="(max-width: 768px) 100vw, 1200px"
          decoding="async"
          loading="lazy"
          format="webp"
        />
      </Footer>
    </div>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
  </body>
</html>
