---
// Importez votre composant Vue
import Header from "../components/common/Header.vue";
import Footer from "../components/common/Footer.astro";
import HeroSection from "../components/common/HeroSectionWrapper.astro";
import ServicesSection from "../components/ServicesSection.astro";
import { Image } from "astro:assets";
import Logo from "../assets/logo150.webp";
import LogoFooter from "../assets/logo-26.quatre.webp";

import { fetchServices } from "../stores/servicesStore.js";

const services = await fetchServices();
---

<html lang="fr">
	<head>
		<title>26quatre - Services Data</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-J80BBZ98FZ"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-J80BBZ98FZ");
		</script>
	</head>
	<body>
		<div
			class="full bg-gradient-to-br from-primary-800 via-primary-900 to-primary-950 min-h-screen"
		>
			<Header client:load logo={Logo} />
			<HeroSection services={services} />
			<ServicesSection services={services} />
			<Footer services={services}>
				<Image
					src={LogoFooter}
					alt="Logo"
					widths={[320, 480, 768, 1200]}
					sizes="(max-width: 768px) 100vw, 1200px"
					decoding="async"
					loading="lazy"
					format="webp"
				/>
			</Footer>
		</div>
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
	</body>
</html>

<style>
.full {
	overflow-x: hidden;
}
</style>
